<div id="mainContainer">
  <div class="row">
    <div class="grid1"></div> 
    <div id="leftSectionContainer" class="grid4">
      <ul>
        <li><span id="soloList">Relationships mean something</span></li>
      </ul>
      <h1>
        Family-owned and operated since 1923
      </h1>
      <p id="description">
        We're local like you and always by your side. That's why our people work everyday to innovate and serve you the best possible solutions to run your business.
      </p>
    </div>
    <div id="rightSectionContainer" class="grid6">
      <h2>
        How can we help?
      </h2>
      <div id="formContainer">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="labelFloat">
            <input formControlName="name" placeholder=" " class="inputFloat" type="text" required>
            <label class="required">Name</label>
            <small *ngIf="form.get('name')?.hasError('required') && showErrors">Name is required</small>
          </div>
          <div class="row">
            <div class="labelFloat grid6">
              <input formControlName="email" placeholder=" " class="inputFloat" type="email" required>
              <label class="required">Email</label>
            <small *ngIf="form.get('email')?.hasError('required') && showErrors">Email is required</small>
            </div>
            <div class="labelFloat grid6">
              <input formControlName="phoneNumber" placeholder=" " class="inputFloat" type='text' phoneNumber maxlength="14">
              <label class="required">Phone Number</label>
            <small *ngIf="form.get('phoneNumber')?.hasError('required') && showErrors">Phone Number is required</small>
            <small *ngIf="form.get('phoneNumber')?.hasError('pattern') && showErrors">Phone Number must be 10 digits</small>
            </div>
          </div>
          <div class="row">
            <div class="labelFloat grid6">
              <input formControlName="companyName" placeholder=" " class="inputFloat" type="text" required>
              <label class="required">Company Name</label>
            <small *ngIf="form.get('companyName')?.hasError('required') && showErrors">Company Name is required</small>
            </div>
            <div class="labelFloat grid6">
              <input formControlName="businessType" placeholder=" " class="inputFloat" type="text">
              <label>Type of Business</label>
            </div>
          </div>
          <div id="buttonContainer">
            <button type="submit" id="formSubmit" [disabled]="this.form.pristine">Get in touch</button>
          </div>
        </form>
      </div>
    </div>
    <div class="grid1"></div> 
  </div>
</div>
